.description {
	font-family: Georgia;
	font-size: 28px;
	font-style: italic;
	text-transform: none;
	letter-spacing: 1px;
	line-height: 30px;
	color: #FFA500;
}

.buttn {
	background: Pink;
	color: Green;
	font-family: Algerian;
	font-size: 80px;
	font-weight: 700;
	padding: 5px;
}

.text {
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	text-transform: none;
	letter-spacing: 1px;
	line-height: 20px;
	color: Orange;
}

.mainHeading {
	font-family: Algerian;
	font-size: 75px;
	font-weight: bold;
	color: #8B008B;
	text-decoration: underline;
	text-align: center;
}

.normalLink:link {
  color: #FFA500;
  background-color: transparent;
  text-decoration: underline;
}

.normalLink:visited {
  color: Blue;
  background-color: transparent;
  text-decoration: none;
}

.normalLink:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.normalLink:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}

.loginButton {
	-moz-box-shadow: 4px 4px 6px 0px #3dc21b;
	-webkit-box-shadow: 4px 4px 6px 0px #3dc21b;
	box-shadow: 4px 4px 6px 0px #3dc21b;
	background-color:#44c767;
	-moz-border-radius:39px;
	-webkit-border-radius:39px;
	border-radius:39px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Verdana;
	font-size:25px;
	font-weight:bold;
	padding:15px 23px;
	text-decoration:none;
	text-shadow:4px 4px 3px #2f6627;
}

.loginButton:hover {
	background-color:#5cbf2a;
}

.loginButton:active {
	position:relative;
	top:1px;
}

.button2 {
	background: Pink;
	color: Green;
	font-family: Harlow Solid Italic;
	font-size: 80px;
	font-weight: 1000;
	padding: 2px;
}

.typeform-share button {
	display:inline-block;
	text-decoration:none;
	background-color:#26C3DD;
	color:white;
	cursor:pointer;
	font-family:Helvetica,Arial,sans-serif;
	font-size:27px;
	line-height:57.5px;
	text-align:center;
	margin:0;
	height:57.5px;
	padding:0px 38px;
	border-radius:28px;
	max-width:100%;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
	font-weight:bold;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
}

.showStoryIP {
	-moz-box-shadow:inset -20px -13px 8px 5px #3dc21b;
	-webkit-box-shadow:inset -20px -13px 8px 5px #3dc21b;
	box-shadow:inset -20px -13px 8px 5px #3dc21b;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #44c767), color-stop(1, #5cbf2a));
	background:-moz-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-o-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #5cbf2a 100%);
	background:linear-gradient(to bottom, #44c767 5%, #5cbf2a 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#5cbf2a',GradientType=0);
	background-color:#44c767;
	-webkit-border-radius:42px;
	-moz-border-radius:42px;
	border-radius:42px;
	border:4px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Courier New;
	font-size:20px;
	font-weight:bold;
	padding:17px 17px;
	text-decoration:none;
	text-shadow:3px 3px 2px #2f6627;
}
.showStoryIP:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cbf2a), color-stop(1, #44c767));
	background:-moz-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-o-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #5cbf2a 5%, #44c767 100%);
	background:linear-gradient(to bottom, #5cbf2a 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cbf2a', endColorstr='#44c767',GradientType=0);
	background-color:#5cbf2a;
}
.showStoryIP:active {
	position:relative;
	top:1px;
}

.storytext {
	font-family: "Comic Sans MS", Charcoal, sans-serif;
	font-size: 42px;
	letter-spacing: 2.6px;
	word-spacing: 3px;
	color: #1732FF;
	font-weight: 700;
	text-decoration: none solid rgb(68, 68, 68);
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
	text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}

body {
	background-color:Aquamarine;
}

.offlineGamesText {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 52px;
	letter-spacing: 2.4px;
	word-spacing: -4.8px;
	color: #FF3405;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: small-caps;
	text-transform: capitalize;
	text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, 2px 2px 2px rgba(206,89,55,0);
}

.gamingPageButton {
	-moz-box-shadow: 0px 0px 50px 22px #3dc21b;
	-webkit-box-shadow: 0px 0px 50px 22px #3dc21b;
	box-shadow: 0px 0px 50px 22px #3dc21b;
	
	background:-moz-linear-gradient(top, #44c767 5%, #3e9410 100%);
	background:-webkit-linear-gradient(top, #44c767 5%, #3e9410 100%);
	background:-o-linear-gradient(top, #44c767 5%, #3e9410 100%);
	background:-ms-linear-gradient(top, #44c767 5%, #3e9410 100%);
	background:linear-gradient(to bottom, #44c767 5%, #3e9410 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#44c767', endColorstr='#3e9410',GradientType=0);
	background-color:#44c767;
	-webkit-border-radius:42px;
	-moz-border-radius:42px;
	border-radius:42px;
	border:3px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#e8f009;
	font-family:Georgia;
	font-size:28px;
	padding:17px 66px;
	text-decoration:none;
	text-shadow:3px 5px 3px #b89106;
}
.gamingPageButton:hover {
	background:-moz-linear-gradient(top, #3e9410 5%, #44c767 100%);
	background:-webkit-linear-gradient(top, #3e9410 5%, #44c767 100%);
	background:-o-linear-gradient(top, #3e9410 5%, #44c767 100%);
	background:-ms-linear-gradient(top, #3e9410 5%, #44c767 100%);
	background:linear-gradient(to bottom, #3e9410 5%, #44c767 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#3e9410', endColorstr='#44c767',GradientType=0);
	background-color:#3e9410;
}
.gamingPageButton:active {
	position:relative;
	top:1px;
}  