.mainHeading {
	font-family: Algerian;
	font-size: 75px;
	font-weight: bold;
	color: #8B008B;
	text-decoration: underline;
	text-align: center;
}

.normalLink:link {
  color: #FFA500;
  background-color: transparent;
  text-decoration: underline;
}

.normalLink:visited {
  color: Blue;
  background-color: transparent;
  text-decoration: none;
}

.normalLink:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

.normalLink:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
.description {
	font-family: Georgia;
	font-size: 28px;
	font-style: italic;
	text-transform: none;
	letter-spacing: 1px;
	line-height: 30px;
	color: #FFA500;
}